# ##############################################################################
# - Copia y renombra este archivo como .env en la raíz del proyecto.
# - Luego modifica los valores para el entorno en el que estés trabajando.
# ##############################################################################

# Código asignado al proyecto.
PROJECT_CODE=

# ##############################################################################
# Definición del entorno.
# ##############################################################################

# Definimos el entorno con el que estamos trabajando:
#   - loc => Para un entorno de desarrollo en máquina local.
#   - dev => Para un entorno de desarrollo en máquina remota.
#   - stg => Para un entorno de pre-producción.
#   - pro => Para un entorno de producción.
DRUPAL_ENV='loc'

# Urls de los entornos de producción y local.
# Usar url completa sin barra al final. Ej. https://example.com
DRUPAL_PRO_URL=
DRUPAL_LOC_URL='https://[PROYECTO].lndo.site'


# ##############################################################################
# Permisos de los archivos.
# (En caso de usar lando ambos serán: www-data)
# ##############################################################################

USER_GROUP='www-data'
USER_OWNER='www-data'


# ##############################################################################
# Instalación de Drupal.
# ##############################################################################

DRUPAL_LANGUAGE=es
DRUPAL_SITENAME='Nombre del sitio'
DRUPAL_TRUSTED_HOST='[PROYECTO]\.lndo\.site'
DRUPAL_HASH_SALT='enN5jJY_Xqr3-0Hu2DkNzrToGcUYYWLAmuUj3Dw71abMkJOfzY74BMRQwows0icj_OAA7li6Qw'


# ##############################################################################
# Conexión con Base de datos.
# ##############################################################################

DRUPAL_DB_DATABASE=drupal
DRUPAL_DB_USER=udrupal
DRUPAL_DB_PASSWORD=drupal_password
DRUPAL_DB_PORT=3306

# Se recomienda dar un valor a DRUPAL_DB_PREFIX por seguridad.
DRUPAL_DB_PREFIX=''

# Posibles HOSTNAMES:
# - LANDO: database.[LANDO_NAME].internal
# - LOCAL: localhost
# - REMOTO: xxx.xxx.xxx.xxx (IP)
DRUPAL_DB_HOSTNAME=database.[PROYECTO].internal


# ##############################################################################
# Configuración adicional (mejoras de rendimiento).
# ##############################################################################

# Redis / KeyDB.
# Establecer este valor a cache una vez instalado Drupal:
# REDIS_HOST=cache
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASS=
REDIS_DB=12
REDIS_TTL='14 days'

# Módulos no disponibles en producción.
# (Separados por coma sin espacios)
CONFIG_EXCLUDE_MODULES='config_delete,devel,devel_php,devel_kint_extras,twig_vardumper'


# ##############################################################################
# Variables adicionales del proyecto.
# ##############################################################################